*.o
*.so
*.lo
*.la
.libs
.deps
Makefile*
-*
ReleaseVC12
*sdf
config*
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
orkbasecxx/compile
orkaudio/compile

# IntelliJ and VSCode
.idea/
.vscode/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IAT
interactivetel/.vagrant
interactivetel/packages
